[user]
	name = iLan Epstein
	email = iepstein@tableau.com

[alias]
 feature = flow feature
 st = status -sb
 ci = commit
 cm = commit -am
 br = branch
 co = checkout
 df = diff
 lp = log -p
 fo = fetch origin
 rom = rebase origin/master
 rod = rebase origin/develop
 recon = rebase --continue
 who = shortlog -n -s --no-merges
 temp = commit -am \"TEMP - to remove\"
 undo = reset --hard
 rehead = "!f() { git reset HEAD~$1; }; f"
 lc = log ORIG_HEAD.. --stat --no-merges
 lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
 lf = log --pretty=fuller
 cleanup = !git gc && git remote prune origin
 fork = remote add -f
 squash = merge --squash
 pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
 pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
 pp = format-patch -U8 --stdout
 ff = merge --ff-only

[core]
  autocrlf = input
	excludesfile = /Users/iepstein/.gitignore_global
  editor = code -n -w
[credential]
  helper = store
[color]
  ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
